# ######################################################################
# Basic environment
# ######################################################################
#
future
pip
#
# ######################################################################
# Console and commandline Related
# ######################################################################
#
sh
docopt
#
# ######################################################################
# Databases and Configuration
# ######################################################################
#
pyaml
simplejson
#
# ######################################################################
# Testing and formatting
# ######################################################################
#
nose

